<?xml version="1.0"?>
<theme>
    <name>flux</name>
    <title>Flux</title>
    <version>2025</version>
    <compatibility>3.0</compatibility>
    <author>3ipunt Consejería de Educación Canarias</author>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
    <description>Energía en movimiento.

iDevice icons by Google (https://fonts.google.com/icons), under the 2.0 version of the Apache License (https://www.apache.org/licenses/LICENSE-2.0.html).

Fredoka Font, by Milena Brandao, under the SIL Open Font License, Version 1.1. Copyright (c) 2021, Milena Brandao.</description>
    <downloadable>1</downloadable>
</theme>